.content-container{
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;
}



.content-cover > img{
    
    border-radius: 5px;
    width: 25vw;
    min-width: 25vw;
    height: 30vh;
}


.content-description{
    margin-top: 2vh;
}

.content-description > p{
    color: rgb(190, 190, 190);
    margin-top: 3vh;
}